@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {
  h1{
    @apply text-4xl;
  },
  h2{
    @apply text-3xl;
  },
  h3{
    @apply text-2xl;
  }
}

.this-container{
  @apply w-full max-w-6xl mx-auto;
}

.hamburger-line{
  @apply w-[30px] h-[2px] my-2 block bg-black;
}
.hamburger-active > span:nth-child(1){
  @apply rotate-45;
}
.hamburger-active > span:nth-child(3){
  @apply -rotate-45;
}
.hamburger-active > span:nth-child(2){
  @apply scale-0;
}
.input-cs{
  @apply pl-7 pr-2 py-1 focus:outline-none;
}
.paragh{
  @apply text-black text-opacity-80;
}
.footer-top{
  @apply w-full flex flex-col px-2 space-y-3 md:space-y-0 md:flex-row pb-12;
}
.footer-btm{
  @apply pt-8 pb-5 w-full flex flex-col-reverse justify-center items-center md:flex-row md:justify-between;
}
.line{
  @apply w-full h-[1px] rounded-lg bg-black bg-opacity-50;
}
.pagination-cs{
  @apply list-none cursor-pointer mx-2 px-2 py-1 text-yellow-custom text-sm  w-full max-w-[30px] text-center rounded-lg;
}
.outline-active{
@apply outline outline-1 outline-yellow-custom
}